.herou {
  position: relative;
}

.herou .slick-dots {
  position: absolute;
  bottom: 20px;
}

.herou .slick-dots li button:before {
  font-size: 40px;
}

.herou .slick-dots li.slick-active button:before,
.herou .slick-dots li button:before {
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  width: auto;
}

.menu {
  font-family: "Lato", sans-serif;
  color: #046175;
  text-align: right;
}

.menu p {
  margin: 0 0 10px 0;
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

.menu__toggler {
  cursor: pointer;
  display: inline-block;
  margin: 20px 20px 0 0;
}

.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white;
}

.menu__item {
  border-bottom: 1px solid #d9d9d9;
}

.menu__link {
  display: inline-block;
  color: #046175;
  padding: 15px;
  text-decoration: none;
  min-width: 120px;
}

.dropdown-content {
  padding-left: 50px;
}

.menu__item:hover {
  background-color: rgb(224, 222, 222);
}

.menu__link:hover ~ .dropdown-content {
  background-color: rgb(224, 222, 222);
}

.dropdown-content:hover {
  background-color: rgb(224, 222, 222);
}

.dropdown-content a {
  text-decoration: none;
  color: #046175;
}

@media screen and (max-width: 819px) {
  .menu {
    font-size: 20px;
  }
  .menu__list {
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 2;
    right: 0;
    width: 210px;
  }
  .menu__checkbox:checked ~ .menu__list {
    display: block;
    text-align: left;
  }
  .dropdown-content {
    font-size: 16px;
  }
}
@media screen and (min-width: 820px) {
  .menu {
    font-size: 28px;
  }
  .menu__toggler {
    display: none;
  }
  .menu__list {
    display: flex;
    text-align: left;
  }
  .menu__item {
    border-bottom: 0px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    border: none;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    padding-left: 15px;
    width: 100%;
    font-size: 18px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo {
  width: 127px;
  height: 73px;
  margin-left: 15px;
}

/* -----Start Glide-------------------------------- */
.glide__slide img {
  width: 100%;
}

.glide__slide {
  margin: 0 !important;
}

.footer {
  background-color: #FAB100;
  height: 145px;
  color: white;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-family: "Lato", sans-serif;
}

.footer__navigace {
  display: flex;
}

.footer__kontakt {
  display: flex;
}

.footer__ikona {
  margin: 10px;
}

.footer__socsiti {
  display: flex;
}

@media screen and (max-width: 639px) {
  .footer {
    flex-direction: column;
    font-size: 16px;
  }
  .footer__navigace {
    display: none;
  }
  .footer__kontakt {
    order: -1;
  }
  .footer__ikona {
    width: 35px;
  }
}
@media screen and (min-width: 640px) {
  .footer {
    justify-content: space-around;
  }
}
/* -----hodnoty-------------------------------- */
.nadpis__pozadi1 {
  background-image: url(/images/web_obrazky/pozadi/obsah-pozadi3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  left: -10px;
  position: absolute;
  bottom: 0;
  z-index: -1;
  background-position: bottom;
}

.druha-polovina-stranky {
  position: relative;
  padding-top: 30px;
}

.hodnoty__pozadi {
  margin: 40px auto 0;
}

.hodnoty__nadpis {
  text-align: center;
  font-family: "Pacifico", cursive;
}

.hodnoty__seznam {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, 1fr);
  margin-left: 10%;
  padding: 0;
  list-style: none;
  gap: 10px;
}

.ikona__navigace,
.ikona__tel,
.ikona__mail,
.ikona__hodiny {
  margin-right: 10px;
}

@media screen and (max-width: 639px) {
  .hodnoty__nadpis {
    padding: 5px 0 0 0;
  }
}
@media screen and (min-width: 820px) {
  .hodnoty__pozadi {
    position: relative;
    height: 300px;
    width: 750px;
    margin-top: 80px;
    background-image: url(/images/web_obrazky/ikony/Elipsa.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
  .hodnoty {
    padding-bottom: 70px;
  }
  .hodnoty__nadpis {
    font-size: 36px;
    display: block;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
  }
  .hodnoty__seznam {
    display: block;
    list-style: none;
    font-size: 24px;
  }
  .hodnoty__1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 30px;
  }
  .hodnoty__2 {
    position: absolute;
    left: 680px;
    top: 70px;
  }
  .hodnoty__3 {
    position: absolute;
    left: 680px;
    top: 210px;
  }
  .hodnoty__4 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 1px;
  }
  .hodnoty__5 {
    position: absolute;
    right: 680px;
    top: 210px;
  }
  .hodnoty__6 {
    position: absolute;
    right: 680px;
    top: 70px;
  }
}
.kontakt__obsah--uvod {
  display: none;
}

.oteviraci-doba {
  width: 220px;
  margin: 60px auto 40px;
}

.oteviraci-doba__nadpis {
  font-size: 16px;
}

.oteviraci-doba__tabulka--cas {
  padding-left: 20px;
}

.oteviraci-doba__header {
  display: flex;
}

@media screen and (max-width: 639px) {
  .oteviraci-doba__tabulka {
    text-align: left;
  }
}
@media screen and (min-width: 640px) {
  .kontakty__uvodni-strana {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    font-size: 20px;
  }
  .kontakni-informace {
    display: block;
    margin: auto;
  }
  .oteviraci-doba {
    width: 320px;
  }
  .oteviraci-doba__nadpis {
    font-size: 24px;
  }
}
.nadpis__pozadi {
  background-image: url(/images/web_obrazky/pozadi/nadpis_pozadi.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 60px;
}

@media screen and (min-width: 820px) {
  .nadpis__pozadi {
    height: 155px;
  }
}
/* -----druha polovina stranky pozadi ----------------------------- */
.nadpis__pozadi2 {
  background-image: url(/images/web_obrazky/pozadi/obsah-pozadi2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  left: -1px;
  top: -50px;
  position: absolute;
  z-index: -1;
}

.druha-polovina-stranky {
  position: relative;
  padding-top: 30px;
}

@media screen and (min-width: 820px) {
  .nadpis__pozadi2 {
    top: -150px;
    height: 600px;
  }
}
/* -----Kdo jsme ----------------------------- */
.kdojsme__image {
  width: 220px;
  height: 180px;
  border-radius: 70px 10px 70px 10px;
  background-image: url(/images/web_obrazky/o_nas/napis_elipsa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  grid-row: 2/3;
  margin: auto;
}

.kdojsme__obsah {
  display: grid;
  grid-template-rows: repeat(3, auto);
  max-width: 1170px;
  gap: 20px;
  margin: auto;
}

@media screen and (min-width: 820px) {
  .kdojsme {
    margin: 0 120px 70px 120px;
  }
  .kdojsme__obsah {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, auto);
  }
  .kdojsme__image {
    grid-row: 1/-1;
    min-width: 100%;
    height: 100%;
  }
}
/* -----tym---------------------------- */
.tym h1 {
  margin-bottom: 30px;
}

.tym__profily {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
  justify-items: center;
}

.tym__photo {
  border-radius: 70px 10px 70px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.tym__figure {
  border: 1px dotted black;
  position: relative;
  text-align: right;
  padding: 10px;
  width: 400px;
  height: 206px;
  border-radius: 70px 0 30px 10px;
  margin: 0;
}

.tym__profil {
  display: inline-block;
  text-align: center;
}

@media screen and (max-width: 639px) {
  .tym__figure {
    width: 300px;
    padding: 5px;
    height: 100%;
  }
  .tym__profily {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .tym__profil {
    font-size: 14px;
  }
  .tym__figure img {
    width: 150px;
  }
}
@media screen and (min-width: 820px) {
  .nastym__viziky {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .tym {
    margin: 0 120px 70px 120px;
  }
}
/* ------------Projekty------------------------ */
.skolka__image {
  width: 220px;
  height: 180px;
  border-radius: 70px 10px 70px 10px;
  background-image: url(/images/web_obrazky/projekty/detska_skupina.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  grid-row: 2/3;
  margin: auto;
}

.skolka__obsah {
  display: grid;
  grid-template-rows: repeat(3, auto);
  max-width: 1300px;
  margin: auto;
  gap: 20px;
}

.pracovny__image {
  width: 220px;
  height: 180px;
  border-radius: 10px 70px 10px 70px;
  background-image: url(/images/web_obrazky/projekty/holcicika_s_cockou.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-row: 2/3;
  margin: auto;
}

.pracovny__obsah {
  display: grid;
  grid-template-rows: repeat(3, auto);
  max-width: 1300px;
  margin: 70px;
  gap: 20px;
  margin: auto;
}

.skolka__obsah h2,
.pracovny__obsah h2 {
  margin-bottom: 0;
}

@media screen and (min-width: 820px) {
  .skolka {
    margin: 0 120px 70px 120px;
  }
  .skolka__obsah {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, auto);
  }
  .skolka__image {
    grid-row: 1/-1;
    width: 100%;
    min-height: 440px;
  }
  .pracovny {
    margin: 0 120px 70px 120px;
  }
  .pracovny__obsah {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, auto);
  }
  .pracovny__image {
    grid-row: 1/-1;
    grid-column: 2/-1;
    width: 100%;
    min-height: 440px;
  }
}
/* ------------kontakt------------------------ */
.kontakt__uvod {
  display: grid;
  grid-template-columns: auto;
  max-width: 1300px;
}

.kontakt__mapa {
  border-radius: 10px 70px 10px 70px;
}

.kontakt__obsah {
  width: 270px;
  margin: auto;
}

.kontakni-informace__ikona-soc-site {
  text-align: center;
}

.kontakni-informace__tabulka--nadpis {
  text-align: left;
}

.kontakt__mapa {
  margin: auto;
  max-width: 100%;
}

.kontakt__mapa:active,
.kontakt__mapa:focus,
.kontakt__mapa:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 640px) {
  .kontakt__uvod {
    display: grid;
    grid-template-columns: auto auto;
  }
  .kontakt {
    display: flex;
  }
  .kontakt__mapa {
    border-radius: 15px 150px 15px 150px;
  }
}
/* ------------form------------------------ */
.form {
  width: 100%;
  max-width: 305px;
  display: grid;
  grid-template-columns: auto;
  margin: auto;
  gap: 10px;
}

.formular > h1 {
  padding: 0;
  margin-bottom: 30px;
}

.form-fied label {
  display: block;
  font-size: 16px;
  color: #046175;
}

.form-fied textarea,
.form-fied input {
  width: 100%;
  border-radius: 15px;
  background-color: #f1eeee;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid #f1eeee;
  padding: 10px;
}

.form-fied textarea:hover,
.form-fied input:hover,
.form-fied textarea:focus,
.form-fied input:focus {
  outline: 0;
  background-color: #d8d5d5;
}

.form-fied__button:active,
.form-fied__button:hover,
.form-fied__button:focus {
  background-color: #033946;
}

.form-fied input {
  height: 40px;
}

.form-fied__button {
  display: block;
  background-color: #046175;
  color: white;
  border-radius: 15px;
  width: 150px;
  height: 45px;
  font-size: 20px;
  justify-self: center;
  border: 1px solid #046175;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 820px) {
  .form {
    width: 100%;
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .formular {
    margin: 0 120px 70px 120px;
  }
  .form-fied__textarea {
    grid-column: 1/-1;
  }
  .form-fied__button {
    grid-column: -2/-1;
    justify-self: end;
  }
}
.udalosti__karta {
  width: 290px;
}

.udalosti__popis {
  text-align: center;
  border: 1px dotted #046175;
  border-radius: 10px 70px 0 0;
  padding: 18px;
  height: 125px;
}

.udalosti__popis:hover,
.udalosti__popis:active,
.udalosti__popis:focus {
  border: 3px solid #0FBADF;
}

.udalosti__obrazek {
  height: 160px;
  width: 100%;
  border-radius: 0 0 10px 70px;
  background-color: #FAB100;
  border: 1px solid #FAB100;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.udalosti__popis > h4,
.udalosti__popis > p {
  margin: 0;
}

.udalosti__popis > h5 {
  margin: 10px;
  font-size: 14px;
}

.udalosti__popis > p {
  font-size: 16px;
}

.udalosti {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  justify-items: center;
}

.archiv__udalosti {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  justify-items: center;
}

.udalosti a,
.archiv a {
  text-decoration: none;
  color: black;
  height: 303px;
}

.archiv > h1 {
  padding: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 820px) {
  .archiv__udalosti,
  .udalosti {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }
  .udalosti,
  .archiv {
    margin: 0 120px 70px 120px;
  }
}
/* ------------akce------------------------ */
.novinky {
  display: grid;
  grid-template-columns: 1fr;
}

.udalosti__karta--novinky {
  min-width: 305px;
  min-height: 430px;
  place-self: center;
}

.udalosti__obrazek--novinky {
  min-width: 305px;
  min-height: 430px;
}

@media screen and (min-width: 820px) {
  .udalosti__karta--novinky {
    min-width: 100%;
    min-height: 1170px;
  }
  .udalosti__obrazek--novinky {
    min-width: 100%;
    min-height: 1170px;
  }
  .udalosti__popis--novinky > p {
    font-size: 18px;
  }
  .udalosti__popis--novinky > h5 {
    font-size: 16px;
  }
  .udalosti__popis--novinky > h4 {
    font-size: 24px;
  }
}
.novinky .udalosti__popis:hover,
.novinky .udalosti__popis:active,
.novinky .udalosti__popis:focus {
  border: 1px dotted #046175;
}

.galerie__popis {
  margin-bottom: 0;
}

.galerie {
  display: grid;
  grid-template-columns: repeat(auto-fill, 90px);
  gap: 10px;
  margin-top: 0px;
}

.photo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 820px) {
  .galerie {
    grid-template-columns: repeat(auto-fill, 250px);
  }
}
.nabizime {
  display: grid;
  grid-template-columns: 1fr;
}

.program-dne__tabulka--nadpis,
.program-dne__tabulka--podnadpis {
  text-align: left;
}

.program-dne__tabulka td {
  border-bottom: 1px solid rgb(238, 238, 238);
}

.program-dne__tabulka .sloupec2 {
  padding-left: 10px;
}

@media screen and (max-width: 639px) {
  .nabizime {
    font-size: 14px;
  }
}
@media screen and (min-width: 820px) {
  .nabizime {
    grid-template-columns: 1fr;
  }
  .program-dne__tabulka {
    margin-left: 30px;
    padding-left: 10px;
  }
  .nabizime {
    margin: 0 120px 70px 120px;
  }
}
.stahovani > h1 {
  padding: 0;
  margin-bottom: 30px;
}

.stahovani__article {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  text-align: left;
}

.stahovani__article h5 {
  text-align: center;
}

.stahovani a {
  justify-self: start;
  align-self: center;
}

@media screen and (min-width: 820px) {
  .stahovani {
    margin: 0 120px 70px 120px;
  }
}
html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin: 0;
  background-color: white;
}

h1 {
  font-family: "Pacifico", cursive;
  color: #046175;
  font-size: 24px;
  margin: 0;
  padding: 5px 0 0 30px;
}

h2 {
  font-family: "Lato", sans-serif;
  color: #0FBADF;
  font-size: 20px;
}

h4 {
  font-family: "Lato", sans-serif;
  color: #0FBADF;
  font-size: 20px;
}

@media screen and (min-width: 820px) {
  h1 {
    font-size: 48px;
    padding: 15px 0 0 90px;
  }
  h2 {
    font-size: 32px;
  }
}
section {
  margin: 30px;
}/*# sourceMappingURL=style.css.map */