@use "desing";

/* ------------akce------------------------ */

.novinky {
  display: grid;
  grid-template-columns: 1fr;
}

.udalosti__karta--novinky {
  min-width: 305px;
  min-height: 430px;
  place-self: center;
}

.udalosti__obrazek--novinky {
  min-width: 305px;
  min-height: 430px;
}

@media screen and (min-width: 820px) {
  .udalosti__karta--novinky {
    min-width: 100%;
    min-height: 1170px;
  }

  .udalosti__obrazek--novinky {
    min-width: 100%;
    min-height: 1170px;
  }

  .udalosti__popis--novinky > p {
    font-size: 18px;
  }

  .udalosti__popis--novinky > h5 {
    font-size: 16px;
  }

  .udalosti__popis--novinky > h4 {
    font-size: 24px;
  }
}

.novinky .udalosti__popis:hover,
.novinky .udalosti__popis:active,
.novinky .udalosti__popis:focus {
  border: 1px dotted #046175;
}
