$c-primary: #046175;
$c-secondary:#0FBADF;
$c-footer: #e6f1f0;
$c-shadow: rgba(0, 0, 0, 0.3);
$font-nadpis:"Pacifico", cursive;
$font-text:"Lato", sans-serif;
$bocni-okraj:30px;


// $c-footer: #FAB100;