@use "desing";
@use "header";
@use "footer";
@use "hodnoty";
@use "pozadi-nadpisy";
@use "druha-polovina-stranky-pozadi";
@use "onas";
@use "projekty";
@use "kontakt";
@use "udalosti";
@use "akce";
@use "galerie";

// desing.$c-primary: #046175;
// desing.$c-secondary:#0FBADF;
// desing.$c-footer: #FAB100;
// desing.$c-shadow: rgba(0, 0, 0, 0.3);
// desing.$font-nadpis:"Pacifico", cursive;
// desing.$font-text:"Lato", sans-serif;
// desing.$bocni-okraj:30px;

// intuitivnejsi box-sizing

//-----Obecné nastavení----///
html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: desing.$font-text;
  font-size: 18px;
  margin: 0;
}

h1 {
  font-family: desing.$font-nadpis;
  color: desing.$c-primary;
  font-size: 24px;
  margin: 0;
  padding: 5px 0 0 30px;
}

h2 {
  font-family: desing.$font-text;
  color: desing.$c-secondary;
  font-size: 20px;
}

h4 {
  font-family: desing.$font-text;
  color: desing.$c-secondary;
  font-size: 20px;
}

@media screen and (min-width: 820px) {
  h1 {
    font-size: 48px;
    padding: 15px 0 0 90px;
  }
  h2 {
    font-size: 32px;
  }
}

section {
  margin: desing.$bocni-okraj;
}
//--------------------Pro rodiče---------------------------//

.nabizime {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 820px) {
  .nabizime {
    grid-template-columns: 1fr 1fr;
  }
  .nabizime__seznam {
    border-right: 1px solid desing.$c-primary;
    margin-right: 30px;
    padding-right: 10px;
  }

  .program-dne__tabulka {
    margin-left: 30px;
    padding-left: 10px;
  }

}


//--------------------ke stažení--------------------------//
.stahovani__article {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);

}
.stahovani__article h5{
    text-align: center;
}