<!-- ---
layout: layouts/stranka.njk
title: Co je u nás nového
gallery: podzim
---

<section class="galerie__popis">
  <div class="udalosti__karta udalosti__karta--1">
    <div class="udalosti__popis">
      <h4>Pod pokličkou</h4>
      <h5>31.7-4.8.2024</h5>

      <p>
        I letos si děti mohou užít leto plné zabavy v našem přímetském táboře
      </p>
    </div>
  </div>
</section>


<section class="galerie">
  {% for image in collections.galerie | reverse %} {% if image.gallery ===
  gallery %}

  <div class="gallery-image">
    <a data-fslightbox="prvni" href="/{{ image.path }}" class="gallery-link">
      <img class="photo" src="/{{ image.path }}" />
    </a>
  </div>

  {% endif %} {% endfor %}
</section> -->
