---
layout: layouts/stranka.njk
title: Co je u nás nového
---

<section class="udalosti">
  {% for novinka in collections.novinky | reverse %}

  <a href="{{novinka.url}}" class="udalosti__karta udalosti__karta--1">
    <div class="udalosti__popis">
      <h4>{{ novinka.data.title }}</h4>
      <h5>{{ novinka.data.konani }}</h5>

      <p>{{ novinka.data.perex }}</p>
    </div>

    <div
      class="udalosti__obrazek"
      style="background-image: url('/images/galerie/{{novinka.data.foto}}');"
    ></div>
  </a>

  {% endfor %}
</section>

<div class="druha-polovina-stranky">
  <div class="nadpis__pozadi2"></div>
</div>

<section class="archiv">
  <h1>Archiv</h1>
  <div class="archiv__udalosti">
    {% for archiv in collections.archiv | reverse %}
    <a href="{{archiv.url}}" class="udalosti__karta udalosti__karta--1">
      <div class="udalosti__popis">
        <h4>{{ archiv.data.title }}</h4>
        <h5>{{ archiv.data.konani }}</h5>

        <p>{{ archiv.data.perex }}</p>
      </div>

      <div
        class="udalosti__obrazek"
        style="background-image: url('/images/galerie/{{archiv.data.foto}}');"
      ></div>
    </a>

    {% endfor %}
  </div>
</section>
