<footer class="footer">
	<div class="footer__navigace">
	  <img
		class="footer__ikona ikona__navigace"
		src="/images/Navigace-bila.svg"
		alt="ikona navigace"
	  />
	  <p>
		Školní 195,<br />
		Praha 4,
	  </p>
	</div>

	<div class="footer__socsiti"> 
		<a href="https://www.facebook.com/MontessoriElipsa" target="_blank">
	  <img
		class="footer__ikona ikona__fb"
		src="/images/fb-bilé.svg"
		alt="ikona fb"
	  /></a>

	  <a href="https://www.instagram.com/explore/locations/484083702345013/montessori-klub-elipsa/" target="_blank">
	  <img
		class="footer__ikona ikona__insta"
		src="/images/insta-bile.svg"
		alt="ikona instagramu"
	  /></a>
	</div>

	<div class="footer__kontakt">
	  <img
		class="footer__ikona ikona__telefonu"
		src="/images/tel-bile.svg"
		alt="ikona telefonu"
	  />
	  <p>
		777 314 016 <br />
		elipsa@zsskolni.cz
	  </p>
	</div>
  </footer>