<header class="header">
  <div class="header__logo">
    <a href="/">
      <img class="logo" src="/images/logo.svg" alt="Elipsa Montesorri klub"
    /></a>
  </div>

  <nav class="menu">
    <input type="checkbox" class="menu__checkbox" id="menu-checkbox" />
    <label for="menu-checkbox" class="menu__toggler">☰</label>

    <ul class="menu__list">
      <li class="menu__item">
        <div class="dropdown">
          <a class="menu__link dropbtn" href="/onas/">O Nás </a>
          <div class="dropdown-content">
            <p>Náš tým</p>
            <p>Montesorri</p>
          </div>
        </div>
      </li>

      <li class="menu__item">
        <div class="dropdown">
          <a class="menu__link dropbtn" href="/rodice/">Pro Rodiče</a>
          <div class="dropdown-content">
            <p>Program dne</p>
            <p>Ke stažení</p>
          </div>
        </div>
      </li>

      <li class="menu__item">
        <a class="menu__link" href="/udalosti/">Události</a>
      </li>

      <li class="menu__item">
        <div class="dropdown">
          <a class="menu__link dropbtn" href="/projekty/">Projekty</a>
          <div class="dropdown-content">
            <p>Školka</p>
            <p>Pracovny</p>
          </div>
        </div>
      </li>

      <li class="menu__item">
        <a class="menu__link" href="/kontakt/">Kontakt</a>
      </li>
    </ul>
  </nav>
</header>
