
<div class="herou">
  <div><img src="/images/web_obrazky/herou/Herou 1.svg" alt="Elipsa vesmír" /></div>
  <div><img src="/images/web_obrazky/herou/Herou 2.svg" alt="Hrající si děti" /></div>
  <div><img src="/images/web_obrazky/herou/Herou 3.svg" alt="Čtoucí babička" /></div>
</div>
