<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!--SEO	-->
    <meta name="description" content="Mateřská školka inspirovaná montessori pedagogikou, vedené pracovny, příměstké tábory pro oblast Prahy 4 Braník" />

<!--
		Obecné OpenGraph meta tagy
		Pro sdílení obsahu je používá většina sociálních sítí
	-->

	<meta property="og:title" content="Elipsa Montessori klub">
	<meta property="og:description" content="Mateřská školka">
	<meta property="og:type" content="Website ">
	<meta property="og:image" content="https://elipsa-montesorri-club.netlify.app/images/web_obrazky/o_nas/napis_elipsa.jpg">
	<meta property="og:url" content="https://elipsa-montesorri-club.netlify.app">  

	<meta property="og:locale" content="cs_CZ">

    <!-- favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="\images\web_obrazky\favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="\images\web_obrazky\favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="\images\web_obrazky\favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="\images\web_obrazky\favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="\images\web_obrazky\favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <link rel="shortcut icon" href="\images\web_obrazky\favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#00aba9" />
    <meta
      name="msapplication-config"
      content="\images\web_obrazky\favicon/browserconfig.xml"
    />
    <meta name="theme-color" content="#ffffff" />

    <title>Elipsa {{ title }}</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <!-- Náš vlastní styl -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/glide.core.min.css" />
    <link rel="stylesheet" href="/css/glide.theme.min.css" />

    <link rel="stylesheet" type="text/css" href="/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <!--
		zde se vloží obsah šablony,
		která používá tuto hlavní šablonu
	 -->
    {{ content | safe }}
    <script src="/fslightbox.js"></script>
    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script type="text/javascript" src="/js/slick.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function () {
        $(".herou").slick({
          autoplay: true,
          autoplaySpeed: 2000,
          dots: true,
        });
      });
    </script>

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
